/* App.css */
/* 실무에서는 거의 비어 있거나, 특정 컴포넌트용 CSS만 포함 */
/* .app-container {
  @apply p-4 max-w-7xl mx-auto;
} */

/* 또는 아예 사용 안 함 (Tailwind만 쓰는 팀에서는) */

::-webkit-scrollbar {
  width: 8px; /* 스크롤바 너비 */
}

::-webkit-scrollbar-track {
  background: transparent; /* 배경 없앰 */
}

::-webkit-scrollbar-thumb {
  background-color: #999; /* 스크롤 핸들 색상 */
  border-radius: 4px;
}

/* Animation */
.start {
  opacity: 0;
}

.end {
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

/* Tailwind에서 :는 반응형, 상태, 조건부 스타일을 지정하는 프리픽스(prefix) 구분자

예시 max-[600px]:text-sm
👉 의미: 최대 600px일 때 text-sm을 적용한다.

즉, : 앞은 조건, 뒤는 적용할 유틸리티 클래스! */

/* App */

/* Home */
.container {
  @apply flex flex-col items-center justify-center w-full max-w-full h-auto gap-5;
}

.hover-transition {
  @apply transition-all duration-300 ease-in-out;
}

.flex-col-center {
  @apply flex flex-col justify-center items-center;
}

.flex-row-center {
  @apply flex flex-row justify-center items-center;
}

.btn {
  @apply bg-[#9dab96] text-[white] hover:bg-white hover:text-[#9dab96] border border-[#9dab96] rounded-3xl;
}